.container{
	width: 800px;
	height:800px;
	border:black 1px solid;
	margin:auto;
	padding:0;
}
.pixel{
	display:inline-block;
	margin-top:0;
	margin-bottom:0;
	padding:0;
}
.title, button{
	text-align: center;
	margin:auto;
}